/* Para telas com altura de 1081px ou mais */
@media screen and (min-height: 1081px) {
  .hero {
    height: 55vh !important;
  }
}

/* Para telas com largura de 400px ou menos */
@media screen and (max-width: 400px) {
  .benefits-container {
    max-width: 95% !important;
  }

  .LoadingPage {
    left: 38% !important;
  }
}

/* Para telas com largura de 600px ou menos */
@media screen and (max-width: 600px) {
  .benefit-item {
    flex-direction: column;
    text-align: center;
  }
  .benefit-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 2em;
  }

  .LoadingPage {
    top: 35% !important;
    left: 40% !important;
  }

  .MarginLeft {
    margin-left: 0rem !important;
    text-align: center !important;
    margin: 1em auto !important;
  }

  .benefits-container {
    max-width: 90% !important;
  }

  .cadastro-texto {
    margin-left: 0% !important;
  }

  .cadastro-section {
    display: block !important;
  }

  .hero {
    padding: 2em;
  }
}

/* Para telas com largura de 900px ou menos */
@media screen and (max-width: 900px) {
  .benefits-container {
    max-width: 100% !important;
  }

  .hero {
    padding: 80px;
  }

  .LoadingPage {
    top: 40% !important;
    left: 45% !important;
  }
}

/* Para telas com largura de 1024px ou menos */
@media screen and (width: 1024px) {
  .hero {
    padding: 2em;
  }

  .LoadingPage {
    top: 40% !important;
    left: 45% !important;
  }

  .benefits-container {
    max-width: 98% !important;
  }
}

/* Para telas com largura de 1200px ou menos */
@media screen and (width: 1300px) {
    .LoadingPage {
        left: 36em !important;

      }
}

@media screen and (width: 1400px) {
    .LoadingPage {
        top: 15em !important;
        left: 38em !important;

      }
}

@media screen and (width: 1700px) {
    .LoadingPage {
        top: 25em !important;
        left: 49em !important;

      }
}
