
.full-height {
    min-height: 100vh; /* Faz com que o container ocupe 100% da altura da tela */
    display: flex;
    align-items: start; /* Opcional: Centraliza o conteúdo verticalmente */
    justify-content: center; /* Opcional: Centraliza o conteúdo horizontalmente */
}

.full-50-porcent {
    min-height: 50vh; /* Faz com que o container ocupe 100% da altura da tela */
    display: flex;
    align-items: center; /* Opcional: Centraliza o conteúdo verticalmente */
    justify-content: center; /* Opcional: Centraliza o conteúdo horizontalmente */
}


.full-25-porcent {
    min-height: 25vh; /* Faz com que o container ocupe 100% da altura da tela */
    display: flex;
    align-items: center; /* Opcional: Centraliza o conteúdo verticalmente */
    justify-content: center; /* Opcional: Centraliza o conteúdo horizontalmente */
}

.CentralizadorDeConteudo{
    align-items: center; /* Opcional: Centraliza o conteúdo verticalmente */
    justify-content: center;
}

.bg-gray-site{
background-color: #171414;
}


.hero {
    /* Substitua o caminho abaixo pela imagem que deseja usar */
    background: url('../Imagens/Cabecalho_Background_LG.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    width: 100%;
    height: 140vh; /* Ajuste conforme a altura desejada */
    display: flex;
    
    color: #fff; /* Caso o texto seja claro sobre a imagem */
  }

  /* Ajustes de texto e espaçamento na área do Hero */
  .hero-content {
    max-width: 800px; /* Limita a largura do texto */
    margin-top: 10em !important;

  }

  /* Espaçamento no título e no botão do Hero */
  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }


  .btn-transparent {
    color: #fff;
  }
.btn-transparent:hover {
    color: #f1f1f1;
    font-weight: bold;;

}
.btn-transparent:focus,
.btn-transparent.focus {
    box-shadow: 0 0 0 3px rgba(170, 0, 0, 0.8);
}
.btn-transparent.disabled,
.btn-transparent:disabled {
    background-color: #333333;
    border-color: #333333;
}




/* Estilo base dos cards */
.custom-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px; /* Cantos arredondados */
}

/* Imagem dentro do card */
.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

/* Camada escura para hover */
.custom-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease-in-out;
  
}

/* Texto dentro do card */
.custom-card .card-text {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 2;
}

/* Efeito hover: escurece a imagem */
.custom-card:hover::after {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 3px rgba(170, 0, 0, 0.5);
}